.clearfix:before,.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
.div-inline-block{
    display: inline-block;
}
.grid-primary-btn{
    display: inline-block;
    margin-right: 8px;
}
.grid-title-cell{
    margin-left: 5px;
}
.ivu-layout-sider .ivu-menu-vertical{
    height: 100%;
}
.ivu-layout-sider .ivu-layout-sider-children{
    margin-top:0px;
}
.ivu-layout-sider .ivu-menu-vertical.ivu-menu-light:after{
    background: white;
}

.layout .ivu-menu{
    z-index: auto;
}

.ivu-dropdown-item .widget-operation{
    >div{
        width:100%;
    }
    width:100%;
}
.b-list-header>.widget-operation{
    float:left;
}
.form-toolbar .widget-operation{
    margin-right: 16px;
}

.multiselect__spinner {
    height: 30px;
}
.multiselect__spinner:after,.multiselect__spinner:before {
    border-color: #cccccc transparent transparent;
}
.multiselect,.multiselect__input,.multiselect__single {
    font-size: 13px;
}
.multiselect {
    min-height: 34px;
}
.multiselect__single {
    margin-bottom: 4px;
    font-size:13px;
}
.m-batch-editor .multiselect__single{
    width: 150px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.multiselect__tags{
    padding: 6px 30px 0 7px;
    font-size:13px;
    line-height: 1;
    min-height: 34px;
    border: 1px solid #D9D9D9;
    transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out
}
@multi-tag-color:#666;
@multi-bkg-color:#f7f7f7;
.multiselect__tag{
    font-size:13px;
    margin-bottom: 2px;
    background:@multi-bkg-color;
    color:rgba(0,0,0,.65)
}
.multiselect__tag-icon:after {
    font-size: 14px;
    color:@multi-tag-color;
    opacity:0.66
}
.multiselect__tag-icon:focus:after, .multiselect__tag-icon:hover:after{
    color:@multi-tag-color;
    opacity:1
}
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover{
    background:@multi-bkg-color;
}
.multiselect__current {
    min-height: 34px;
}
.multiselect__placeholder{
    padding:4px 0px 0px 0px;
    margin-bottom:0px;
}
.multiselect__select{
    width:32px;
    height:32px;
}
.multiselect__option {
    min-height: 34px;
}

.multiselect__option:after {
    line-height: 34px;
}

.multiselect--active .multiselect__tags, .multiselect--active .multiselect__content-wrapper {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(41, 116, 255, 0.2);
}
.multiselect__tags>span>span.multiselect__single{
    color:#bcbfc5;
}

.multiselect, .multiselect__input{
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 4px;
    color:rgba(0, 0, 0, 0.85);
}
.multiselect__option--highlight{
    background: #f3f3f3;
    color:rgba(0, 0, 0, 0.85); ;
}

.multiselect__option--highlight:after {
    content: attr(data-select);
    background: #f3f3f3;
    color: rgba(0, 0, 0, 0.85);
}

.multiselect__option--selected.multiselect__option--highlight {
    background: #f3f3f3;
    color: rgba(0, 0, 0, 0.85)
}

.multiselect__option--selected.multiselect__option--highlight:after {
    background: #f3f3f3;
    content: attr(data-deselect);
    color: rgba(0, 0, 0, 0.85)
}
.multiselect--disabled .multiselect__select{
    opacity: 0;
}
.bvue-select-wrapper .bvue-select-group-append[disabled]{
    border-left:0px;
}


//这里控制引用组件右边有搜索按钮弹出框的样式
.bvue-select-group .multiselect,.bvue-select-group .ivu-input-wrapper{
    display: table-cell;
}
.bvue-select-group .multiselect .multiselect__tags{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
//Password组件样式调整
.bvue-select-group .ivu-input-with-suffix{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:none;
}

.section{
    font-size: 14px;
    font-weight: bolder;
    line-height: 150%;
    border-bottom: 1px solid #dcdee2;
    margin-bottom: 16px;
    padding: 8px;
}
.ivu-form .ivu-form-item-label{
    padding-top:12px;
}
.ivu-menu-item > i{
    vertical-align: middle;
}
.ivu-table-cell-tooltip .ivu-tooltip-rel{
    vertical-align: middle;
    top:-2px;
}
//mvue-design 写死了80px
.ivu-input-number{
    width:100%;
}

//表单的上下布局时，重写margin，以及加粗标题
.ivu-form-label-top .ivu-form-item{
    margin-bottom: 8px;
}
.ivu-form-label-top .ivu-form-item-label{
    font-weight: bolder;
}

.ivu-card-body .default-list-wrapper{
    padding: 0px;
}

//树列表样式
.tree-list-sidebar{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(163, 163, 163, 0.2);
    margin-right: 1px;

    .menu-title{
        font-size: 15px;
        padding: 4px 0px 0px 8px;

        h2{
            font-size: 14px;
            color: #444;
            line-height: 22px;
        }
    }

    .ivu-menu{
        background: none;

        .ivu-menu-item-active{
            background-color: #e6f7ff;
        }

        &:after{
            display: none;
        }
    }

}

.tree-list{
    .default-list-wrapper{
        padding: 0px 16px 16px 16px;
    }
}

.detail-view {
    .ivu-layout-has-sider {
        margin: -16px;
    }
    .ivu-menu-vertical {
        //height: 750px;
        padding-top: 8px;
    }

    .ivu-menu-horizontal{
        margin: -28px -16px 16px -16px;
        padding-left:20px;
    }
    .has-horizontal-menu .tree-list{
        margin: 0px;
    }
}

.detail-view-vertical {
    .ivu-menu-item>i{
        margin-right: 0px;
    }
    .detail-view-horizontal{
        margin: -32px;
        .ivu-menu-horizontal{
            margin: 0px;
        }
    }
}
.detail-view-horizontal{
    .detail-view-vertical{
        margin: -16px;
        .ivu-menu-horizontal{
            margin: 0px;
        }
    }
}
.form-item-view{
    padding: 4px 7px;
    height: 34px;
    line-height:28px;
    overflow: hidden;
}
.upload-form-item-view{
    padding: 4px 7px;
    line-height:28px;
    word-break: break-all;
    .ivu-upload-list{
        margin-top:0px;
        .ivu-upload-list-file{
            padding:0px;
        }
    }
}
.b-list .b-list-header:before,.b-list .b-list-header:after{
    content: "";
    display: table;
}
.b-list .b-list-header:after{
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.m-batch-editor .ivu-table-cell{
    overflow: visible;
}
.m-batch-editor{
    .ivu-table-header{
        overflow: visible !important;
    }
    .ivu-table{
        overflow: visible !important;
    }
    .ivu-table-overflowX{
        overflow: visible !important;
    }
}
.grid-drawer-con .drawer-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: left;
    background: #fff;
}