.clearfix:before,.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
.div-inline-block{
    display: inline-block;
}
.grid-primary-btn{
    display: inline-block;
    float:left;
    margin-right: 8px;
}
.grid-title-cell{
    margin-left: 5px;
}

.form-toolbar .widget-operation{
    margin-right: 16px;
}
.multiselect__tags{
    line-height: 1.5;
    min-height: 38px;
    border: 1px solid #D9D9D9;
    transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out
}
.multiselect__tags:hover{
    border-color: #5490ff;
}
.multiselect--active .multiselect__tags, .multiselect--active .multiselect__content-wrapper {
    border-color: #5490ff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(41, 116, 255, 0.2);
}
.multiselect, .multiselect__input, .multiselect__single{
    font-size: 13px;
    color:rgba(0, 0, 0, 0.85);
}
.multiselect__option--highlight{
    background: #f3f3f3;
    color:rgba(0, 0, 0, 0.85); ;
}